<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breech.extremity.mapper.TeamMapper">
    <resultMap id="BaseTeamInfoMap" type="com.breech.extremity.model.TeamInfo">
        <id column="team_id" jdbcType="INTEGER" property="teamId"/>
        <id column="team_name" jdbcType="VARCHAR" property="teamName"/>
        <id column="description" jdbcType="VARCHAR" property="teamName"/>
        <id column="created_at" jdbcType="DATE" property="createdAt"/>
    </resultMap>

    <select id="selectTeamInfo" resultMap="BaseTeamInfoMap">
        select e.*
        from extremity_team e
        where e.team_id = #{teamId};
    </select>

    <update id="updateTeamInfo">
        update extremity_team
        set
            team_name = #{teamName},
            research_field = #{researchField},
            description = #{description},
            created_at = #{createdAt}
        where team_id = #{teamInfo.teamId};
    </update>
</mapper>